<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.corsatk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".controller.FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.MainActivity" />
        <activity android:name=".view.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.CourseDetails" />
        <activity android:name=".courses.ArabicCourses" />
        <activity android:name=".courses.EnglishCourses" />
        <activity android:name=".view.RateUs" />
        <activity android:name=".view.LoginMainDesign" />
        <activity android:name=".controller.AskHelp" />
        <activity android:name=".view.About" />
        <activity android:name=".view.ChattingNames" />
        <activity android:name=".view.ChattingRoom" />
        <activity android:name=".controller.MakeHelp" />
        <activity android:name=".view.UploadVideos" />
        <activity android:name=".view.ShowHelp"></activity>
    </application>

</manifest>